.events {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: "white";
}

.container {
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.table {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #454545;
}